/* css box model */

h1 {
  border: 5px solid red;
  padding: 30px 100px 50px 200px;
  margin: 40px 50px 15px 100px;
}

span {
  border: 1px solid red;
  padding: 3px 10px;
  border-radius: 20px;
}

.box {
  border: 1px solid red;
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.box-2 {
  border: 1px solid red;
  width: 200px;
  height: 200px;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
