.box {
  /* named colors */
  background-color: red;
  background-color: blue;
  background-color: green;

  /* html 5 colors */
  background-color: aquamarine;
  background-color: tomato;
  background-color: teal;

  /* hexadecimal colors */
  /* background-color: #abcdef1234567890; */
  background-color: #abcdef;
  background-color: #123456;
  background-color: #a134bc;
  background-color: #000000;
  background-color: #ffffff;
  background-color: #ff0000;
  background-color: #00ff00;
  background-color: #0000ff;
  background-color: #000;
  background-color: #fff;
  background-color: #f00;
  background-color: #0f0;
  background-color: #00f;

  /* rgb colors (red, green and blue */
  background-color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  background-color: rgb(255, 0, 0);
  background-color: rgb(0, 255, 0);
  background-color: rgb(0, 0, 255);
  /* background-color: rgb(255, 255, 0);
  background-color: rgb(255, 0, 255);
  background-color: rgb(0, 255, 255); */

  /* rgba colors (extension of rgb with alpha value) */
  background-color: rgb(0, 0, 0, 1);
  background-color: rgba(255, 255, 255, 0.5);
  background-color: rgba(255, 0, 0, 0.5);
  background-color: rgba(0, 255, 0, 0.5);
  background-color: rgba(0, 0, 255, 0.5);
  background-color: rgba(180, 201, 110, 0.5);
}

/* px is the basic or default unit...its a fixed unit */

.box {
  /* font-size: 16px; default font size is 16px */

  /* rem, em are relative sizes 1rem or 1em = 16px */
  /* font-size: 2rem; */
  /* font-size: 2em; */
}

/* % is a responsive unit i.e it grows and shrik with the screen */
/* vw: viewport with (similar to percent) */
/* vh: viewport height (similar to percent) */
/* span {
  height: 20px;
  width: 100px;
  display: block;
  background-color: red;
} */

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.container {
  background-color: red;
  width: 960px;
  margin: auto;
  /* height: 100vh; */
}

@media screen and (max-width: 1000px) {
  .container {
    width: 760px;
  }
}

@media screen and (max-width: 800px) {
  .container {
    width: 95%;
  }
}
