@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&family=Concert+One&family=Dancing+Script:wght@400..700&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Great+Vibes&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-variation-settings: "wdth" 100;
  background-color: black;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.profile-card {
  background-color: rgba(256, 256, 256, 0.1);
  padding: 50px 20px 30px;
  text-align: center;
  border-radius: 10px;
  width: 300px;
}

.profile-card img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
}

.profile-card h1 {
  font-size: 1.5rem;
  margin-top: 10px;
  font-weight: 400;
}

.profile-card h2 {
  font-size: 1.2rem;
  color: rgb(138, 227, 48);
  margin-top: 10px;
  font-weight: 400;
}

.profile-card p {
  margin-top: 10px;
}

.socials {
  margin-top: 20px;
}

.socials a {
  display: block;
  text-decoration: none;
  background-color: rgba(256, 256, 256, 0.15);
  color: white;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.socials a:last-child {
  margin-bottom: 0px;
}
